[submodule "submodules/munkres-cpp"]
	path = submodules/munkres-cpp
	url = https://github.com/saebyn/munkres-cpp.git
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
