[submodule "submodules/wxWidgets"]
	path = submodules/wxWidgets
	url = https://github.com/rmpowell77/wxWidgets.git
[submodule "submodules/docopt.cpp"]
	path = submodules/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "submodules/nlohmann_json"]
	path = submodules/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/githook-clang-format"]
	path = submodules/githook-clang-format
	url = https://github.com/andrewseidl/githook-clang-format.git
