/* Useful if PROVIDE_DEFAULT_ICONS is set in wx_setup.h */
#define IHaveMDIParentIcon
#define IHaveMDIChildIcon

wxSTD_MDIPARENTFRAME    ICON    "calchart.ico"
wxSTD_MDICHILDFRAME     ICON    "calchart.ico"
calchart ICON calchart.ico
#include <wx/msw/wx.rc>

tb_left BITMAP tb_left.bmp
tb_right BITMAP tb_right.bmp
tb_box BITMAP tb_box.bmp
tb_poly BITMAP tb_poly.bmp
tb_lasso BITMAP tb_lasso.bmp
tb_mv BITMAP tb_mv.bmp
tb_line BITMAP tb_line.bmp
tb_rot BITMAP tb_rot.bmp
tb_shr BITMAP tb_shr.bmp
tb_ref BITMAP tb_ref.bmp
tb_siz BITMAP tb_siz.bmp
tb_gen BITMAP tb_gen.bmp
tb_lbl_l BITMAP tb_lbl_l.bmp
tb_lbl_r BITMAP tb_lbl_r.bmp
tb_lbl_f BITMAP tb_lbl_f.bmp
tb_sym0 BITMAP tb_sym0.bmp
tb_sym1 BITMAP tb_sym1.bmp
tb_sym2 BITMAP tb_sym2.bmp
tb_sym3 BITMAP tb_sym3.bmp
tb_sym4 BITMAP tb_sym4.bmp
tb_sym5 BITMAP tb_sym5.bmp
tb_sym6 BITMAP tb_sym6.bmp
tb_sym7 BITMAP tb_sym7.bmp
tb_stop BITMAP tb_stop.bmp
tb_play BITMAP tb_play.bmp
tb_pbeat BITMAP tb_pbeat.bmp
tb_nbeat BITMAP tb_nbeat.bmp
tb_pshet BITMAP tb_pshet.bmp
tb_nshet BITMAP tb_nshet.bmp
